span{
    border:2px solid black;
    height:100px;
    width:100px;
    margin:50px;
    padding: 50px;
    background-color:rgba(255, 255, 0, 0.819);
}
/* in span element padding and margin 
 only set on left and right  and height and width is not 
 set anywhere */

div{
    border:2px solid black;
    height:200px;
    width: 400px;
    padding: 50px;
    margin:50px;
    background-color: cadetblue;
}