*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container{
    width: 700px;
    height: 400px;

    display: grid;
    gap: 10px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px 1fr 80px;

    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header{
    grid-area: header;
    background: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.sidebar{
    grid-area: sidebar;
    background: #2ea3c8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main{
    grid-area: main;
    background: #6a67ce;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.footer{
    grid-area: footer;
    background: #2bb673;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}