#container{
    height:300px;
    width:80%;
    background-color: azure;
    margin:10px auto;
    border:2px solid black;
    display:flex;
    flex-direction: row;
    justify-content: flex-start ;
    flex-wrap: wrap;
    /* align-items:baseline; */
    align-content:center;
}
/* flex-start , flex-end, center , row-reverse , col revrese.
  justify content -->  if there is extra space at start and end that  shifts to the center .
  flex-wrap : no wrap , wrap --> items are forced onto one line or can wrap onto multiple lines .
  in first line the div containes the wisth they can occupy and remaining div takes goes to next row . */
  #orange{
    align-self:flex-start;
    flex-grow:1;

  }

  #blue{
    flex-grow:3;
  }

h1{
    text-align: center;
}
#container div{
    height:100px;
    width:300px;
    color:white;
    text-align:center;
    font-size:1.5em;
}

/* flex shorthand --> flex : 2 2 100px 
                             flex-grow  flex shrink flex -basis
                             flex: 2 100px
                                   flex-grow  flex-basis
                                   flex:2 
                                        flex-grow
                                        flex-basis
                                        flex: 100px */